<h1> Clients </h1>

<h2><%= @client.name %></h2>

<h4> Age: <%= @client.age %></h4>
<h4> Gender: <%= @client.gender.capitalize %></h4>
<h4> Weight: <%= @client.weight %></h4>
<h4> Trained by: <a href="/users/<%= @client.user.id %>"><%= @client.user.username %></h4>

<a href="/clients/<%= @client.id %>/edit"> Edit <%= @client.name %></a>

<form method="POST" action="/clients/<%= @client.id %>">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="Delete">
</form>